doctype html
html
  head
    title Ritterkunst Fiechtshule: Order of Selohaar
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="css/styles.css")
  
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Home
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") About
            ul.dropdown-menu
              li
                a(href="#") What is HEMA?
              li
                a(href="#") Instructors
              li
                a(href="#") Location
              li
                a(href="#") Class Info
          li
            a(href="#") Contact
    header#top-of-page I am the header
    section I am the main shit
    footer I am the footer
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(type="text/javascript", src="js/scripts.js")
